body {
  background-color: black;
  font-family: Verdana;
}

h1 {
 font-weight: bold;
 font-size: 50px;
 color: white;
 text-align: center;
}

h2 {
 font-weight: 300;
 font-size: 42px;
 text-align: center;

}

p {
  color: gray;
  font-size: 21px;
}

.stock-video,
.landscape-image,
.cellphone-icon {
  align: center;
}

.resource-link {
  text-align: center;
  color: Aquamarine;
  font-size: 16px;
}
